<div class="small-6 small-centered columns user-form">
  <h2=>New Itinerary Form</h2>

  <ul>
    <%@itinerary.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    </ul>
  <%end%>

  <%= form_for(@itinerary) do |f|%>

  <div>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>


  <div>
    <%= f.submit "Add Itinerary" %>
  </div>
  <%end%>
</div>
